<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
      <form
        (focusout)="validate($event)"
        [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && onSubmit(registerForm.valid)"
      >
        <!-- <div
          class="ion-padding"
          *ngIf="registerForm.get('mobileNumber').errors?.pattern"
        >
          <span style="color: red;"
            >Phone number must be a valid 10 digit number.</span
          >
        </div> -->
        <!-- <div
          class="ion-padding"
          *ngIf="registerForm.get('email').errors?.email"
        >
          <span style="color: red;">Please provide a valid email address.</span>
        </div> -->
        <!-- <div
          class="ion-padding"
          *ngIf="registerForm.get('password').errors?.pattern"
        >
          <span style="color: red;"
            >Password must contain a digit, an uppercase, a lowercase,a special
            character and between 6-15 characters.</span
          >
        </div>
        <div
          class="ion-padding"
          *ngIf="registerForm.get('confirm_password').touched && registerForm.get('confirm_password').errors"
        >
          <span style="color: red;"
            >Password and Confirm password must match.</span
          >
        </div> -->
        <div>
          <div class="ion-text-end">
            <ion-icon
              name="close-outline"
              size="large"
              [routerLink]="['/']"
            ></ion-icon>
          </div>
          <div class="ion-text-center">
            <ion-icon name="sync-outline" class="register-main-icon"></ion-icon>
            <h1>Refer a store</h1>
          </div>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Store Name"
              formControlName="name"
              name="name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="* Enter 10 digit Mobile No."
              formControlName="mobileNumber"
              name="mobilenumber"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="* Email"
              formControlName="email"
              name="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="navigate" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Pincode"
              formControlName="pincode"
              name="pincode"
            ></ion-input>
          </ion-item>
        </div>

        <div class="ion-padding row-buttons">
          <ion-button color="danger" (click)="onClear()">Clear</ion-button>

          <ion-button
            type="submit"
            color="success"
            [disabled]="registerForm.invalid"
            >Refer</ion-button
          >
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
