<gro-header [title]="'Refer A Store'" [hasCloseButton]="true" (onClosePage)="onCloseStorePage()"></gro-header>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
      <form
        (focusout)="validate($event)"
        [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && onSubmit(registerForm.valid)"
      >
        <div class="ion-padding">
          <ion-item>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Store Name"
              formControlName="storeName"
              name="name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Owner /AdminName"
              formControlName="ownerName"
              name="name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="* Enter 10 digit Mobile No."
              formControlName="mobileNumber"
              name="mobilenumber"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="locate" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Area"
              formControlName="area"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="navigate" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="City"
              formControlName="city"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="apps" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Category Ex.Grocery"
              formControlName="storeCategory"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="* Email"
              formControlName="email"
              name="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="navigate" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Pincode"
              formControlName="pincode"
              name="pincode"
            ></ion-input>
          </ion-item>
        </div>

        <div class="ion-padding row-buttons">
          <ion-button color="danger" (click)="onClear()">Clear</ion-button>

          <ion-button
            type="submit"
            color="success"
            [disabled]="registerForm.invalid"
            >Refer</ion-button
          >
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
