.span-content {
  font-weight: 600;
  font-size: 18px;
}
.span-mrp {
  @extend .span-general;
  text-decoration: line-through;
}
.span-title {
  font-weight: 500;
  font-size: 18px;
}
.span-general {
  font-weight: 400;
  font-size: 16px;
}

ion-select {
  border: 1px solid;
}

.product-feature-type {
  background-color: #ffc409;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  color: white;
}

.image-container {
  position: relative;
  text-align: center;
}

.text-over-image {
  position: absolute;
  top: 40%;
  border: 1px solid lightgrey;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

.offer-over-image {
  position: absolute;
  top: -20px;
  left: -10px;
  border-radius: 50%;
  background-color: #ffc409;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}
