<ng-container
  [ngTemplateOutlet]="menuList"
  [ngTemplateOutletContext]="{items: products}"
></ng-container>
<ng-template #menuList let-items="items">
  <ng-container *ngFor="let item of items">
    <ng-container
      [ngTemplateOutlet]="menuItem"
      [ngTemplateOutletContext]="{item: item}"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #menuItem let-item="item">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-padding-top" *ngIf="item.productImgUrl">
          <div class="image-container">
            <div
              class="offer-over-image"
              *ngIf="item.discount && !item.available_quantity"
            >
              <div>5%</div>
              <div>off</div>
            </div>
            <ion-img
              [src]="item.productImgUrl"
              [ngStyle]="{'opacity': item.available_quantity ? 1: 0.5}"
            ></ion-img>
            <div class="text-over-image" *ngIf="!item.available_quantity">
              OUT OF STOCK
            </div>
            <div
              class="text-over-image"
              style="background-color: #2dd36f; color: white;"
              *ngIf="item.quantity && fromStore"
            >
              IN CART
            </div>
          </div>
        </ion-col>
        <ion-col [size]="item.productImgUrl ? 9 : 12">
          <div style="display: flex; justify-content: space-between;">
            <span class="span-title">{{item.productName}}</span>
            <span
              class="span-title"
              style="border: 1px solid lightgrey; padding: 3px;"
              >{{item.brandName}}</span
            >
          </div>
          <ion-row>
            <ion-col>
              {{item.itemShortDescription}}
            </ion-col>
          </ion-row>
          <ion-select
            [interfaceOptions]="{header: 'Select weights for ' + item.productName}"
            [ngModel]="item.weight"
            (ngModelChange)="onWeightChange($event, item)"
            *ngIf="item.storeInventoryProductUnit && item.storeInventoryProductUnit.length > 1
            && !fromCart"
          >
            <ion-select-option
              [value]="val.weight"
              *ngFor="let val of item.storeInventoryProductUnit"
            >
              <span>{{val.weight}} {{val.unit}}</span>
            </ion-select-option>
          </ion-select>
          <ion-row
            *ngIf="fromCart || (item.storeInventoryProductUnit && item.storeInventoryProductUnit.length === 1)"
          >
            <ion-col>
              <span>{{item.weight}} {{item.unit}}</span>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="!item.storeInventoryProductUnit || (item.storeInventoryProductUnit && item.storeInventoryProductUnit.length === 1)"
          >
            <ion-col>
              {{item.weight}} {{item.unit}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" *ngIf="item.price">
              <span>
                MRP:
              </span>
              <span class="span-mrp">
                Rs.{{item.mrp}}
              </span>
              <span class="span-content">
                Rs.{{item.price}}
              </span>
            </ion-col>
            <ion-col size="6" *ngIf="item.available_quantity">
              <ion-button
                size="default"
                *ngIf="!item.quantity"
                (click)="addItem(item)"
                >Add +</ion-button
              >
              <ion-row *ngIf="item.quantity">
                <ion-col size="4" class="ion-no-padding"
                  ><ion-button color="danger" (click)="removeItem(item)"
                    ><span class="span-general">-</span></ion-button
                  ></ion-col
                >
                <ion-col size="4" class="ion-no-padding"
                  ><ion-button color="light"
                    ><span style="color: black; font-weight: bold;"
                      >{{item.quantity}}</span
                    ></ion-button
                  ></ion-col
                >
                <ion-col size="4" class="ion-no-padding"
                  ><ion-button color="success" (click)="addItem(item)"
                    ><span class="span-general">+</span></ion-button
                  ></ion-col
                >
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class="product-feature-type">New</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-template>
