<ion-card *ngIf="recentOrder">
  <ion-card-content class="ion-no-padding">
    <ion-item class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <span class="span-store-name">
                {{recentOrder.store.storeName | titlecase}}
              </span>
            </ion-row>
            <ion-row>
              {{recentOrder.store.area}}
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col size="2"
                ><ion-icon name="checkmark-circle" color="success"></ion-icon
              ></ion-col>
              <ion-col size="10"><span>Delivered</span></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-row class="ion-padding-start">
      <ion-col
        ><span class="span-recentOrder-data"
          >{{recentOrder.totalNumOfProducts === 1 ? '1 item': recentOrder.totalNumOfProducts
          + ' items'}}</span
        ></ion-col
      >
      <ion-col
        ><span class="span-recentOrder-data">Rs.{{recentOrder.billTotal}}</span></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="display: flex; flex-direction: column; padding: 5px;">
          <span>Ordered on</span>
          <span class="span-recentOrder-data">Fri20, 2019</span>
        </div>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/recentOrder', recentOrder.id]"><span>View Order</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
