<ion-header>
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-col>
        <ion-col size="9" class="ion-padding-top">
          <span class="span-store-name"
            >{{storeEntity && storeEntity.storeName | titlecase}}</span
          >
        </ion-col>
        <ion-col size="1" class="ion-padding-top">
          <ion-icon name="search" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <span class="span-store-name">
        {{storeEntity && storeEntity.storeName | titlecase}}
      </span>
    </ion-row>
    <ion-row>
      <span>
        {{storeEntity && storeEntity.area}}
      </span>
    </ion-row>
  </ion-grid>
  <ion-list *ngFor="let product of storeCatalog | keyvalue">
    <ion-item>
      <ion-label
        ><span style="font-weight: 600; font-size: 20px;" id="categ-span" #categ
          >{{product.key}}</span
        >
      </ion-label>
      <ion-icon
        name="chevron-down-outline"
        size="small"
        (click)="product.expand = true"
        *ngIf="!product.expand"
      ></ion-icon>
      <ion-icon
        name="chevron-up-outline"
        size="small"
        (click)="product.expand = false"
        *ngIf="product.expand"
      ></ion-icon>
    </ion-item>
    <ng-container *ngIf="!product.value.length && !product.expand">
      <ion-list *ngFor="let subprod of product.value | keyvalue">
        <ion-item>
          <ion-label>{{subprod.key}}</ion-label>
          <ion-icon
            name="chevron-down-outline"
            size="small"
            (click)="subprod.expand = true"
            *ngIf="!subprod.expand"
          ></ion-icon>
          <ion-icon
            name="chevron-up-outline"
            size="small"
            (click)="subprod.expand = false"
            *ngIf="subprod.expand"
          ></ion-icon>
        </ion-item>
        <ng-container *ngIf="!subprod.expand">
          <product-list [products]="subprod.value"></product-list>
        </ng-container>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="product.value.length && !product.expand">
      <product-list [products]="product.value"></product-list>
    </ng-container>
  </ion-list>
  <gro-menu-button [categories]="categories"></gro-menu-button>
  <gro-cart-bar></gro-cart-bar>
</ion-content>
