ion-slide {
  width: 80px !important;
  height: 120px !important;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  background-color: white;
}

ion-img {
  width: 80px;
  height: 90px;
}

span {
  font-size: 12px;
}

