.display-cart-grid {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: grey;
    color: white;
    z-index: 99;
  }
  .cart-badge {
    padding: 5px;
    font-size: 14px;
  }
  .span-quantity {
      font-weight: 400;
      font-size: 14px;
  }
  .span-price {
    font-weight: 600;
    font-size: 18px;
}