<ion-header>
  <ion-toolbar  color="success">
    <ion-grid>
      <ion-row  >
        <ion-icon 
        *ngIf="!hasCloseButton"
          [name]="icon"
          size="large"
          (click)="navigateTo()"
        ></ion-icon>
        <ion-label class="header-title">{{title}}</ion-label>
      </ion-row>
    </ion-grid>
    <ion-buttons *ngIf="hasCloseButton" slot="primary" (click)="onCloseClick()">
      <ion-icon  name="close" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
